* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family:  Ubuntu, sans-serif;
}

ul, ol {
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

header nav{
    background-color: orange;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: aquamarine;
    padding: 10px 0;
}

.container-hero{
    max-width: 800px;
    margin: 0 auto;
    min-height: 400px;
    background-color: fuchsia;
}

.col-66{
    width: calc(2 * (100% / 3));
    min-height: 400px;
    background-color: cadetblue;
}

.col-33{
    width: calc(100% / 3);
    min-height: 400px;
    background-color: pink;
}

.justify-between{
    justify-content: space-between;
}

.debug{
    border: 2px dotted black;
}

.menu{
    display: flex;
    gap: 10px;
    align-items: center;
}

#hero{
    background-color: blue;
    padding: 20px 0;;
}

.light-bg{
    background-color: gainsboro;
}