* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    background-color: aquamarine;
    padding: 20px 0;
}

header .navbar{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: orange;
    line-height: 30px;
}

ul {
    list-style: none;
}

a {
    flex-grow: 1;
    text-align: center;
    
}

.menu{
    display: flex;
    gap: 10px;
    flex-grow: 2;
    justify-content: center;
}

.little{
    min-height: 300px;
    max-width: 800px;
    background-color: pink;
    margin: auto;
}

.container {
    min-height: 400px;
    max-width: 1000px;
}

#frame{
    background-color: blue;
    padding: 60px 0;
}

.debug{
    border: 1px dotted black;
}